/* =============================
=          Main Styles         =
===============================*/
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgba(15, 15, 15, 0.753);
  color: white;
}

.hidden {
  display: none;
}

.card {
  width: 31%;
  min-height: 30%;
  background-color: rgba(51, 50, 50, 0.7);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}
/* =============================
=        Dashboard Styles      =
===============================*/
.dashboard-area {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* =============================
=        Side Menu Styles      =
===============================*/
.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(51, 50, 50, 0.7);
  width: 20%;
  height: 100%;
}

.add-project-button {
  position: relative;
  top: 80%;
  width: 80%;
}

.menu-button {
  padding: 20px;
  border: none;
  border-radius: 10px;
  color: #7f8487;
  background: transparent;
  font-size: large;
}

/* =============================
=    Project Section Styles    =
===============================*/
.project-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2%;
  gap: 3%;
}
.project-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project-title-container {
  text-align: center;
}

.todolists-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

/* =============================
=          Modal Styles        =
===============================*/
.modal-wrapper {
  position: fixed; /* Fixed position */
  z-index: 1; /* Sit on top of everything else */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with a bit of transparency */
}

.new-project-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 50, 50, 0.7);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 25%;
  height: 40%;
  border-radius: 20px;
  border: none;
}

.new-project-modal-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#close-project-modal-button {
  border: none;
  border-radius: 50%;
  background-color: #fd8a8a;
  padding: 20px;
  cursor: pointer;
}

#new-project-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80%;
}

#new-project-form > input {
  width: 70%;
  padding: 20px;
  border: none;
  background-color: rgba(51, 50, 50, 0.7);
  border-bottom: solid 1px black;
}

#new-project-form > button {
  width: 80%;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #93c6e7;
}
/* =============================
=           Todo Styles        =
===============================*/
.todos-section {
  counter-reset: item;
  list-style-type: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7f8487;
  position: relative;
  padding: 0 2%;
}

.todo-item::before {
  counter-increment: item; /* increment the counter by 1 */
  content: counter(item) ". "; /* Show the counter */
  position: absolute; /* position it at the left */
  left: -30px;
}

.todo-item:last-child {
  border-bottom: none;
}

.item-status {
  appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  border: 1px solid #7f8487;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.item-status:checked {
  background-color: #93c6e7;
}
